.MainBox {
  width: 800px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}

.LogoBox {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom : 50px;
}

.LogoBox img {
  width: 300px;
  height: auto;
}

.InputBox {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  padding-bottom: 50px;
  text-align: center;
}

.InputBox input {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 40px;
  margin-bottom: 30px;
}

.InputBox input:focus::placeholder {
  color: transparent;
}

.InputBox h3 {
  margin-bottom: 20px;
}

.InputBoxItem {
  width: 100%;
  position: relative;
}

.IsDuplicationBtn {
  position: absolute;
  right: 10px;
  top: 10%;
  background: none;
  border: 2px solid rgba(234, 219, 135);
  color: rgba(234, 219, 135);
  border-radius: 15px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}

.MainFooter {
  height: 20%;
  width: 60%;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.MainFooterBtn {
  width: 100%;
  height: 42px;
  background-color: rgb(240, 204, 115);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}