.MainBox {
  width: 800px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LogoBox {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom : 50px;
}

.LogoBox img {
  width: 300px;
  height: auto;
}

.InputBox {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  padding-bottom: 50px;
  font-weight: 500;
}

.InputBox input {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 40px;
}

.InputBox input:focus::placeholder {
  color: transparent;
}

.InputBox p {
  width: 100%;
  margin-left: 5px;
  color: rgb(71, 71, 71);
}

.InputBoxItem {
  width: 100%;
  position: relative;
}

.ShowPasswordBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender{
    display: flex;
    gap:10px;
    color :white;
    padding-bottom: 70px;
}

.MainFooter {
  height: 20%;
  width: 60%;  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.MainFooterBtn {
  width: 100%;
  height: 42px;
  background: linear-gradient(90deg, rgb(240, 204, 115));
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 40px;
  margin-top: 20px;
}

.NotIn {
    gap:2px;
}
