.HomePage {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 260px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Greeting {
  margin-left: 20px;
}

.TopDashboard {
  height: 200px;
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.TodayGoalsCard {
  width: 65%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 2px 1px 1px gainsboro;
}

.TodayGoalsStatusBox {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.TodayGoalsStatusBox h2 {
  font-size: 28px;
  color: rgb(248, 198, 90);
}

.TodayGoalsStatusIconBox {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 243, 225);
}

.PercentageBox {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Percentage {
  width: 100%;
  height: 13px;
  border-radius: 10px;
  background-color: rgb(255, 244, 211);
  
}

.Remaining {
  width: 100%;
  height: 20%;
}

.Remaining p {
  font-size: 14px;
  color: rgb(150, 150, 150);
}

.UserStatusCard {
  width: 35%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.TotalSolved, .TotalCorrectRate {
  width: 100%;
  height: 45%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
  box-shadow: 2px 1px 1px gainsboro;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

