.HomePage {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  padding-left: 290px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.Greeting p,
.Remaining p {
  font-size: 15px;
  color: rgb(104, 104, 104);
}

.TopDashboard {
  height: 200px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.TodayGoalsCard {
  width: 65%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 1px 1px 5px 1px gainsboro;
}

.TodayGoalsStatusBox {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.TodayGoalsStatusBox h2 {
  font-size: 28px;
  color: rgb(248, 198, 90);
}

.TodayGoalsStatusIconBox {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 243, 225);
}

.PercentageBox {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Percentage {
  width: 100%;
  height: 13px;
  border-radius: 10px;
  background-color: rgb(255, 244, 211);
}

.Remaining {
  width: 100%;
  height: 20%;
}

.UserStatusCard {
  width: 35%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.TotalSolved, .TotalCorrectRate {
  width: 100%;
  height: 45%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px gainsboro;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.TodayRecommendProblemCard {
  width: 100%;
  height: 280px;
  margin-top: 40px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(224, 224, 224);
  padding: 25px;
  box-shadow: 1px 1px 5px 1px gainsboro;
}

.TodayRecommendProblemTextBox {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.TodayRecommendProblemsBox {
  height: 60%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 5px 1px gainsboro;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow .15s ease;
}

.TodayRecommendProblemsBox:hover {
  box-shadow: 3px 3px 7px 3px gainsboro;
}

.TodayRecommendProblemItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.PointBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: rgb(248, 198, 90);
}

.TodayRecommendProblemGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.DifficultyBox {
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(193, 255, 192);
  color: rgb(3, 187, 0);
}

@media (max-width: 950px) {
  .HomePage {
    height: auto;
    min-width: 950px;
  }
}
