.NavBar {
  width: 260px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-right: 1px solid gainsboro;
}

.LogoBox {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.LogoBox img {
  width: 70%;
  height: auto;
}

/* .StreakAndPoints {
  width: 100%;
  height: 25%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid gainsboro;
}

.StreakBox {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.StreakBox:nth-child(1) {
  background-color: rgba(255, 206, 183, 0.4);
}

.StreakBox:nth-child(2) {
  background-color: rgba(247, 247, 140, 0.45);
}

.StreakIconBox {
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StreakIconBox:nth-child(1) {
  background-color: rgba(255, 205, 182, 0.36);
} */

.NavTab {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.TabItems {
  width: 100%;
  height: 9%;
  border-radius: 15px;
  transition: background-color .15s ease, transform .15s ease, box-shadow .15s ease;
  transform: scale(1);
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: rgb(145, 145, 145);
}

.TabIcons {
  transition: all .3s ease;
  transform: scale(1);
}

.Active {
  background: linear-gradient(200deg, oklch(90.669% 0.18812 99.48), oklch(94.295% 0.11515 99.184)) !important;
  color: rgb(36, 36, 36) !important;
}

.Active .TabIcons {
  color: rgb(36, 36, 36) !important;
}

.TabItems:hover {
  background-color: rgba(226, 226, 226, 0.48);
  box-shadow: 2px 2px 2px gainsboro;
  transform: scale(1.03);
}

.TabItems p {
  transition: color .15s ease;
}

.TabItems:hover .TabIcons {
  color: rgb(36, 36, 36);
  transform: scale(1.08);
}

.TabItems:hover p {
  color: rgb(36, 36, 36);
}

.NavBarFooter {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.FooterGroupBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all .2s ease;
}

.FooterLayout {
  padding: 1px;
  cursor: pointer;
}

.FooterLayout:hover .FooterGroupBox {
  transform: translateX(5px);
}