.HomePage {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  padding-left: 290px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.TitleText p,
.TextGroup p,
.UserStack p {
  font-size: 15px;
  color: rgb(104, 104, 104);
}

.RankingDashboard {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(224, 224, 224);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 1px 1px 5px 1px gainsboro;
}

/* 공통 레이아웃 설정 */
.PlaceBox {
  width: 175px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* 하단 정렬 통일 */
  align-items: center;
  gap: 15px;
  transition: all .3s ease;
  transform: scale(1);
}

.PlaceBox:nth-child(1):hover {
  transform: scale(1.02);
  margin-right: 8px;
}

.PlaceBox:nth-child(2):hover {
  transform: scale(1.02);
  margin-right: 8px;
  margin-left: 8px;
}

.PlaceBox:nth-child(3):hover {
  transform: scale(1.02);
  margin-left: 8px;
}

.Profile {
  width: 70px;
  height: 70px;
  border-radius: 1000px;
  background-color: aliceblue;
}

/* 금, 은, 동 공통 스타일 */
.Bar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgb(208, 208, 208);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 30px;
}

/* 개별 높이 및 색상 */
.FirstPlace {
  width: 175px;
  height: 60%;
  background: linear-gradient(180deg, oklch(88% 0.12 95), oklch(70% 0.15 85));
}

.SecondPlace {
  width: 145px;
  height: 45%;
  background: linear-gradient(180deg, oklch(90% 0.01 200), oklch(75% 0.02 250));
}

.ThirdPlace {
  width: 145px;
  height: 40%;
  background: linear-gradient(180deg, oklch(75% 0.10 55), oklch(55% 0.12 45));
}

/* 텍스트 그룹 공통 */
.TextGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextGroup h3 {
  font-size: 17px;
}

.RankingList {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.RankingListItem {
  width: 100%;
  height: 110px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px 2px rgb(224, 224, 224);
  gap: 30px;
  transition: box-shadow .15s ease
}

.RankingListItem:hover {
  box-shadow: 3px 3px 5px 3px rgb(224, 224, 224);
}

.RankingPlace {
  font-weight: 900;
  color: rgb(82, 82, 82);
}

.UserInfoGroup {
  display: flex;
  gap: 20px;
}

.RankingListProfile {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  background-color: rgb(39, 55, 55);
}

.UserStackBox {
  display: flex;
  justify-items: center;
  align-items: start;
  gap: 10px;
}

.UserStack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 950px) {
  .HomePage {
    height: auto;
    min-width: 950px;
  }
}